<header>
  <div class="logo">
    <a href="/">Miro Varga</a>
  </div>
  <nav>
    <a href="https://www.linkedin.com/in/miro-varga-670002187">LinkedIn</a>
    <a href="https://github.com/mirovarga">GitHub</a>
    <a href="https://twitter.com/mirovarga">Twitter</a>
    <a href="mailto:hello@mirovarga.com">Email</a>
  </nav>
</header>