body {
  margin: 0 auto;
  max-width: 60ch;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.2em;
  line-height: 150%;
  font-weight: 300;
  color: black;
  background-color: white;
}

header {
  font-size: 1em;
  border-bottom: thin solid lightgray;
}

header .logo {
  float: left;
  margin-left: 0;
}

header nav {
  text-align: right;
}

header a {
  color: gray;
}

header nav a {
  margin-left: 0.5em;
}

footer {
  color: gray;
  font-size: 0.7em;
  border-top: thin solid lightgray;
}

footer a {
  color: gray;
}

footer .promo {
  float: right;
}

header, footer {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  text-transform: uppercase;
}

.content {
  margin-top: 2em;
  margin-bottom: 6em;
}

header, .content, footer {
  margin-left: 1em;
  margin-right: 1em;
}

h1, h2 {
  line-height: 125%;
  text-align: center;
  text-transform: uppercase;
}

h1 {
  font-size: 1.6em;
}

h2 {
  font-size: 1.2em;
  margin-top: 1.5em;
}

a {
  color: darkred;
  text-decoration: none;
}

a:hover {
  font-weight: bolder;
}

blockquote {
  font-style: italic;
  border-left: thin solid lightgray;
  padding-left: 1em;
  margin: 0;
}

.meta {
  font-style: italic;
  text-align: center;
}

code {
  font-size: 0.7em;
  background: none !important;
  padding: 0 !important;
}

article {
  margin-top: 3em;
}

article>h1 {
  font-size: 1.2em;
  text-align: left;
}