<!DOCTYPE html>

<html>

{{> _head}}

<body>
  {{> _header}}

  <div class="content">
    <h1>{{title}}</h1>

    <div class="meta">
      {{created}}
      <br>

      {{#tags}}
      <a href="/tags/{{lowerCase}}.html">{{camelCase}}</a>
      {{/tags}}
    </div>

    {{{content}}}
  </div>

  {{> _footer}}
</body>

</html>